@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap");
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transpatent;
}

::-webkit-scrollbar-thumb {
  background: transpatent;
  border-radius: 100vh;
}

body {
  @apply bg-light dark:bg-dark overflow-x-hidden;
}

input[type="range"][orient="vertical"] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
  width: 2rem;
  height: 25rem;
  appearance: none;
}
